svg { 
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}
 

path.link.selected {
  stroke-dasharray: 10,2;
}

path.dragline {
  pointer-events: none;
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}
path.dragline.hidden {
  stroke-width: 0;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text { 
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

