body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:77px;
  top:0px;
  width:133px;
  height:42px;
  font-size:48px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:50px;
  width:250px;
  height:650px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:650px;
}
#u7 {
  position:absolute;
  left:2px;
  top:317px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:14px;
  top:60px;
  width:202px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:16px;
  top:110px;
  width:200px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:16px;
  top:240px;
  width:200px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:16px;
  top:370px;
  width:200px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:950px;
  top:0px;
}
#u17_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:710px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:710px;
}
#u19 {
  position:absolute;
  left:2px;
  top:347px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:14px;
  top:17px;
  width:181px;
  height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:20px;
  top:70px;
  width:200px;
  height:150px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:160px;
}
#u23 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:20px;
  top:240px;
  width:200px;
  height:160px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:170px;
}
#u25 {
  position:absolute;
  left:2px;
  top:72px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:205px;
  top:11px;
  width:34px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:25px;
  top:420px;
  width:195px;
  height:150px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:160px;
}
#u29 {
  position:absolute;
  left:2px;
  top:67px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u17_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:14px;
  top:16px;
  width:181px;
  height:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:205px;
  top:12px;
  width:40px;
  height:36px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:250px;
  top:0px;
  width:700px;
  height:50px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:800px;
  top:4px;
  width:40px;
  height:40px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:750px;
  top:4px;
  width:40px;
  height:40px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:850px;
  top:4px;
  width:40px;
  height:40px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:900px;
  top:4px;
  width:40px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:800px;
  top:54px;
  width:80px;
  height:86px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:86px;
}
#u48 {
  position:absolute;
  left:2px;
  top:35px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:808px;
  top:60px;
  width:18px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:808px;
  top:86px;
  width:22px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:808px;
  top:112px;
  width:20px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:808px;
  top:76px;
  width:62px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:45px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:62px;
  height:1px;
}
#u56 {
  position:absolute;
  left:810px;
  top:101px;
  width:62px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:45px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:62px;
  height:1px;
}
#u57 {
  position:absolute;
  left:290px;
  top:110px;
  width:600px;
  height:400px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
}
#u58 {
  position:absolute;
  left:2px;
  top:192px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:270px;
  top:74px;
  width:224px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
